@model IEnumerable<StringReverse.Models.StringReversionModel>

@{
    ViewData["Title"] = "Index";
}
<div class="flexParent">
    <h1>String reversion app</h1>

    <p class="flexParent">
        <button> <a asp-action="ShowInputPanel">Reverse string</a> </button>
    </p>
</div>

